<html>
<head> 
    <meta charset="utf-8">
    <title>Marvision</title>
    <meta name="description" content="Marvision Framework">
    <meta name="author" content="Marvision">
    <meta property="og:image" content="https://camo.githubusercontent.com/8fd5365bfd5641b5de450a8940ba156a266a9ebd/687474703a2f2f7332312e706f7374696d672e6f72672f66656d6b39313979722f6c6f676f312e706e67"> 
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="https://camo.githubusercontent.com/8fd5365bfd5641b5de450a8940ba156a266a9ebd/687474703a2f2f7332312e706f7374696d672e6f72672f66656d6b39313979722f6c6f676f312e706e67">
	
    <!-- Google fonts
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Play|Ruslan+Display" rel="stylesheet">

    <!-- Bootstrap core CSS
    ================================================== -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">  
      <div class="col-md-8 col-md-offset-2"> 
      	<h1>Marvision</h1>
      	<h2>php framework for web application </h2>
      </div> 
    </div>

    <style type="text/css">
    	body{
		    text-align: center;
		    background-color: #F5F5F5;
    	}
    	h1{
		    font-family: 'Ruslan Display', cursive;
		    text-align: center;
		    font-size: 8rem;
		    margin-top: 150px;
		    color: rgb(239, 83, 80);
		    text-shadow: 2px 2px 1px white,4px 0px 1px #333;
    	}
    	h2{
    		font-family: 'Play', sans-serif;
    	}
    </style>
</body>
</html>